@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
#crd{
    font-family: "Raleway", sans-serif;
    line-height: 16px;

    #nm{font-weight: 500;font-size: small;padding-bottom: -10px;}
    #des{font-size: small;}
    #pri{margin-left: 50px;font-weight: 600;font-size: 15px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    #cat{font-size: small;}
}