
.main {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 110px;
    padding-right: 100px;
    padding-top: 80px;

    
  }
  .navdiv{display: flex;align-items: end;justify-content: center;height: 20vh;width: 100%;background-color:#ffffff;}

  nav{
    height: 10vh;width: 70vh;background-color: #fceec0;border-radius: 20px; display: flex;align-items: center;justify-content: space-evenly;box-shadow:1px 4px 5px 1px;

    button{
        border: none;background-color: #ffffff;all:unset;
        
        &:hover{
            border-bottom: 2px solid #212121;
        }


        &:focus {
            border-bottom: 3px solid #000; 
          }
        
    }
    
}



.firstpage{
  height: 100vh;width: 100%;background-color: #212121;
}
.navbar{
  height: 10vh;width: 100vw;background-color: #ffffff;
  
 }
  
 span{
  height: 10px;width: 10px;
 }

 .all{
  overflow: hidden;
 }

 .mainNav{
  height: 10vh;width: 100%;background-color: #ef4f5f;display: flex;
  div{border: 1px solid white;height: 10vh;width: 33.33%;}

  :nth-child(3){
    display: flex; align-items: center;justify-content: end;gap: 16px;padding-right: 20px;
  }
 }

 